*~
*.*~
\#*
.\#*
.local/
*.cache*
*.log
test/.local*/
test/result
custom.el

# emacs tempfiles that shouldn't be there
.dap-breakpoints
.org-id-locations
.tern-port
.yas-compiled-snippets.el
auto-save-list/
cask/
ede-projects.el
elpa/
straight/
eln-cache/
network-security.data
semanticdb
server/
smex-items
tramp
var/
tree-sitter/

# compiled files
*.elc
*.lib
*.fas
*.dat
*.eld
