[submodule "site-lisp/keyfreq"]
	path = site-lisp/keyfreq
	url = https://github.com/dacap/keyfreq
[submodule "site-lisp/org-ioslide"]
	path = site-lisp/org-ioslide
	url = https://github.com/ustcpxy/org-ioslide
[submodule "site-lisp/citre"]
	path = site-lisp/citre
	url = https://github.com/universal-ctags/citre.git
[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg
[submodule "site-lisp/evil-matchit"]
	path = site-lisp/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit
[submodule "site-lisp/thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit
[submodule "site-lisp/one-key"]
	path = site-lisp/one-key
	url = https://github.com/manateelazycat/one-key
[submodule "site-lisp/blink-search"]
	path = site-lisp/blink-search
	url = https://github.com/manateelazycat/blink-search
[submodule "site-lisp/symbol-overlay"]
	path = site-lisp/symbol-overlay
	url = https://github.com/wolray/symbol-overlay
[submodule "site-lisp/toggle-one-window"]
	path = site-lisp/toggle-one-window
	url = https://github.com/manateelazycat/toggle-one-window
